.design_navbar{
    background-color: var(--background-color-nav);
}
.design_dropDownButton{
    
    button{
        background-color: var(--background-color-button-nav);
        width: 10rem;
        @media (max-width:768px){
            width: 6rem;       
        }
    }
    div{
        text-align: center;
        background-color: var(--background-color-dropdown-nav); 
        min-width: auto;
        width: 10rem;
        @media (max-width:768px){
            width: 6rem;       
        }
    }
    a:hover{
        background-color: var(--background-color-dropdown-nav);
    }
}
