html,
body {
  font-family: var(--foont-rubik);
  color: var(--foont-color);
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#root {
  #NavBar {
    width: 100vw;
    height: 4vh;
    @media (max-width:768px){
      height: 12vh;       
  }
    background-color: var(--background-color-nav);
  }
  #Main {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 88vh;
    @media screen and (max-width : 500px ) {
      height: 80vh;
    }
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: antiquewhite;
  }
  #Footer {
    width: 100vw;
    height: 8vh;
    @media screen and (max-width : 768px ) {
      height: 15vh;
    }
    color: aliceblue;
    background-color: rgb(41, 46, 88);
    overflow: hidden;
  }
}
