html,
body {
  font-family: var(--foont-rubik);
  color: var(--foont-color);
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#root {
  #NavBar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  #Main {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 80vh;
    overflow: scroll;
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
  }
  #Footer {
    width: 100vw;
    height: 10vh;
    background-color: rgb(75, 37, 37);
    overflow: hidden;
    z-index: 10;
    margin: 0px;
    padding: 0px;
  }
}
