  .espaciador_profile_top {
    width: 100vw;
    height: 10vh;
  }


.espaciador_profile {
  width: 100vw;
  height: 5vh;
}
.design_tech_stack {
  background-color: aliceblue;
  padding: 2vw;
  border: 1px solid black;
  border-radius: 12px;
  @media screen and (max-width: 500px) {
    padding: 10vw;
    max-width: 90vw;
    box-shadow: 14px 14px 20px 6px black;
  }

  max-width: 60vw;
  box-shadow: 14px 14px 20px 2px black;
  .tech_stacks {
    .col {
      display: flex;
      border: 1px solid black;
      border-radius: 20px;
      margin: 5px;
      justify-content: center;
      background-color: rgba(86, 87, 75, 0.539);
      @media screen and (max-width: 500px) {
        margin: 7px;
    }
      p {
        padding: 1px;
        padding-top: 3px;
        font-size: 1.1rem;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        @media screen and (max-width: 500px) {
            padding: 2px;
            font-size: 0.9rem;
        }
      }
    }
  }
}
