@media (max-width:768px) {
    .container_nav_bar {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: start;
    }

    .container_nav_bar .nav_bar_hamburguer {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100vw;
         z-index: 2;
    }

    .container_nav_bar .nav_bar_hamburguer .hamburguer {
        display: block;
        font-size: 2em;
        padding-top: 0.2em;
        padding-bottom: 0.4em;
        z-index: 2;
    }

    .container_nav_bar .nav_bar_menu {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100vw;
        height: 5vh;
        position: relative;
        top: -50vh;
        transition: all 0.7s;
        z-index: 1;
        margin: 0;
    }

    .container_nav_bar .opened{
        top: 0vh;
         z-index: 1;
    }

    .container_nav_bar .nav_bar_menu .option {
        background-color: antiquewhite;
        min-width: 100px;
        border: 1px solid black;
        border-radius: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        margin: 0;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
    }
}