.design_home {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  .border_lateral {
    border-right: 1px solid black;
  }
  .text_design{
    padding: 20px;
    padding-left: 25px;
    text-align: start;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}
