@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    /*background*/
    --background-color:rgb(183, 183, 183);
    
    /*fonts*/
    --foont-rubik :'Lobster', sans-serif;

    /*colors*/
    --foont-color:rgb(13, 17, 82);
    --error-color:rgb(173, 49, 33);
    --input-color:rgb(0, 174, 255);
    --background-color-nav:rgb(0, 0, 0);

    /*height-content*/
    --height-main-pages:100vh;
}

