nav.navbar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5em;
    position: sticky;
    top: 0;
}
nav.navbar div.hamburguer{
    height: 10vh;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-nav);
    z-index: 1;
    border-bottom: 1px solid black;
}
nav.navbar ul.menu{
    position: relative;
    top:-50vh;
    max-height: 0;
    background-color: var(--color-navBackground);
    transition: all 1s linear;
}
nav.navbar ul.opened {
    top: 0;
    max-height: 100vh;
}
nav.navbar ul.menu li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    background-color: var(--color-nav);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}