/* Nav general */
.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.85);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

/* Contenedor interno */
.nav_inner {
    max-width: 1200px;
    margin: 0 auto;
    height: 70px;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}

/* Hamburguesa */
.hamburguer {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 1100;
}

/* Menú desktop */
.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.menu li {
    cursor: pointer;
    position: relative;
}

.menu li::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 1px;
    background: black;
    transition: width 0.3s ease;
}

.menu li:hover::after {
    width: 100%;
}