.container_nav_bar {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   align-items: center;
}

.container_nav_bar .nav_bar_hamburguer {
    background-color: rgb(128, 133, 133);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 10vw;
}
.container_nav_bar .nav_bar_hamburguer .hamburguer{
   display: none;
}

.container_nav_bar .nav_bar_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 60vw;
    max-width: 500px;
    height: 5vh;
    margin-right: 10vw;
    border-bottom: 3px solid black;
    border-radius: 12px;
}

.container_nav_bar .nav_bar_menu .option {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    margin-bottom: 12px;
   transition: all 0.5s;
   padding-left: 0.1em;
   padding-right: 0.1em;
   
}

.container_nav_bar .nav_bar_menu .option:hover {
    border-bottom: 2px solid rgba(0, 0, 255, 0.637);
}